@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lausanne";
  src: url("./assets/TWK Lausanne 300-normal-400-100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0.3vw;
}
::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

body {
  width: 100%;
  overflow-x: hidden;
}
.hover-line {
  position: relative;
}
.hover-line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.2vw;
  background: #e3e0db;
  width: 0%;
  height: 0.4vw;

  transition: all 0.3s linear;
  transform-origin: right;
}
.hover-line:hover::after {
  width: 100%;
  transition: all 0.2s linear;
  transform-origin: left;
}

/* image slider */

.example {
  width: 100vw;
  height: 100vh;
  background: #151515;
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-snap {
  scroll-snap-type: y mandatory;
}
.scroll-snap .scroll-center {
  scroll-snap-align: start;
}

.animate {
  animation: scroll-project 40s linear infinite;
}
@keyframes scroll-project {
  to {
    transform: translateX(calc(1vw - 50%));
  }
}

.line {
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: -2.5%;
  height: 0.3%;
  width: 105%;
  background: #1515159d;
}
